<%- include('parts/dash-head', {title:'Dashboard'}); %>

<body id="page-top">
    <div id="wrapper">

        <%- include('parts/nav-wrapper') %>

        <div class="d-flex flex-column mb-4" id="content-wrapper">
            <div id="content">

                <%- include('parts/nav-content', { user } ) %>

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Perfil</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                        src="assets/img/dogs/image2.jpeg" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button"
                                            style="background-color: rgb(7,190,184);border-color: rgb(7,190,184);">Mudar
                                            Foto</button></div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background-color: rgb(255,255,255);height: 44px;">
                                    <h6 class="text-primary font-weight-bold m-0" style="color: rgb(103,119,167);">
                                        Projetos</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Fechamentos<span class="float-right">20%</span>
                                    </h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Propostas Enviadas<span
                                            class="float-right">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span>
                                        </div>
                                    </div>
                                    <h4 class="small font-weight-bold">Entregas efetuadas<span
                                            class="float-right">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0"
                                            aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3"
                                            style="background-color: rgb(255,255,255);height: 48px;">
                                            <p class="text-primary m-0 font-weight-bold"
                                                style="color: rgb(103,119,167);">Dados</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="username"><strong>CPF</strong></label><input
                                                                class="form-control" type="text"
                                                                placeholder="<%= user.cpf %>" name="nome"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="email"><strong>E-mail</strong></label><input
                                                                class="form-control" type="email"
                                                                placeholder="<%= user.email %>" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="first_name"><strong>Empresa</strong></label>
                                                            <input class="form-control" type="text" placeholder="Lorena"
                                                                name="first_name">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="nome"><strong>Nome</strong></label>
                                                            <input class="form-control" type="text"
                                                                placeholder="<%= user.nome %>" name="nome"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm"
                                                        type="submit"
                                                        style="background-color: rgb(7,190,184);border-color: rgb(7,190,184);">salvar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3"
                                            style="background-color: rgb(255,255,255);height: 43px;">
                                            <p class="text-primary m-0 font-weight-bold"
                                                style="color: rgb(103,119,167);">Contato</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="endereco"><strong>Endereço</strong></label>
                                                    <input class="form-control" type="text"
                                                        placeholder="<%= user.rua %>, <%= user.numero %>"
                                                        name="endereco">
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="cidade"><strong>Cidade</strong></label>
                                                            <input class="form-control" type="text"
                                                                placeholder="<%= user.cidade %>" name="cidade">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="uf"><strong>Estado</strong><br></label>
                                                            <input class="form-control" type="text"
                                                                placeholder="<%= user.uf %>" name="uf">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm"
                                                        type="submit"
                                                        style="background-color: rgb(7,190,184);border-color: rgb(7,190,184);">SALVAR</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Projeto Orca - Digital House</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>