<ul class="collection">
    <li class="collection-item avatar">
        <img src="<%= produto.foto %>" alt="" class="circle">
        <span class="title"><%= produto.nome %></span>
        <p><%= produto.marca %> <br>
            <%= produto.codigo %>
        </p>
        <p class="secondary-content"> <%= produto.quantidade %> </p>
    </li>
</ul>